BODY {
	font-family: "Verdana";
	font-size: 12px;
	padding: 0px;
	margin: 0px;
	
}

#wrapper {
	border: 1px solid #dea;
	width: 796px;
	padding: 3px;
	margin-left: auto;
	margin-right: auto;
	background-image: url('/static/img/base_back.png');
	background-repeat: repeat-x;
	height: 500px;
}				
.speed_info {
	color: green;
	
}

.link_btn {
	padding: 3px;
	display: block;
	border-left: 1px solid #eee;	
	border-top: 1px solid #eee;
	width: 120px;
	text-align: center;
	text-decoration: none;
	font-weight: bolder;
	color: #222;
	border-right: 1px solid #222;
	border-bottom: 1px solid #222;
}