{% extends "base.html" %}
{% load static %}
{% block extraheader %}
    {{ block.super }}

{% endblock extraheader %}

{% block content %}
    <div id="svg" style="width: 900px; height: 600px;"></div>
{% endblock content %}


{% block endscripts %}
    <script src="{{ STATIC_URL }}sockjs/sockjs-0.3.js"></script>
    <!-- Hack -->
    <script>
        jQuery.browser = {mise: true};
    </script>

    <script type="text/javascript" src="{% static "js/svg/jquery.svg.js" %}"></script>
    <script type="text/javascript" src="{% static "js/svg/jquery.svganim.js" %}"></script>
    <script type="text/javascript" src="{% static "js/svg/jquery.svgdom.js" %}"></script>
    <script type="text/javascript" src="{% static "js/svg/jquery.svgfilter.js" %}"></script>
    <script type="text/javascript" src="{% static "js/svg/jquery.svggraph.js" %}"></script>
    <script type="text/javascript" src="{% static "js/svg/jquery.svgplot.js" %}"></script>
    <script type="text/javascript" src="{% static "js/svg/jquery.svg.js" %}"></script>
    <script>
    $(function (){
        $('#svg').svg({
            loadURL: '{% static "svg/dibujo.svg" %}',
            onLoad: function (svg) {
                var r = $('#rectangulo', svg.root());
                var t = $('#texto2', svg.root());

                console.log(r);

                var sockjs_url = 'http://localhost:8888';
                var reconnect = true;
                var sockjs;

                function onWSMessage(e){
                    var data = JSON.parse(e.data);
                    console.log(e.data);
                    var fillColor = '#'+Math.floor(Math.random()*16777215).toString(16);
                    console.log(fillColor);
                    $(r).css('fill',  fillColor);
                    $(t).text(data.type);

                }

                function onWSClose (e) {
                    console.error("Desconexión a las ", new Date());
                    if (reconnect) {
                        console.debug("Conectando...")
                        window.setTimeout(connectSockJS, 500);
                    }
                }

                function onWSConnect (e) {
                    console.debug("Conectado", new Date());
                }

                function onWSError (e) {
                    console.error("Error", e);

                }
                function connectSockJS() {
                    sockjs = new SockJS(sockjs_url);
                    sockjs.onopen = onWSConnect;
                    sockjs.onmessage = onWSMessage;
                    sockjs.onclose = onWSClose;
                }

                connectSockJS();


            }
        });


    });
    </script>
{% endblock endscripts %}