{% extends "base.html" %}

{% block extrahead %}
<style>
    .mv_ai {
        background-color: #eeaaee;
        
    }
    
</style>
{% endblock %}
{% block content %}
    <ul>
        <li><h3>Configuración de {{ profile }}</h3></li>
        <ul>
        {% for comaster in profile.comasters.all %}
            <li>{{ forloop.counter }} - {{ comaster }}
                <ul>
                    {% for ied in comaster.ieds.all %}
                    <li>IED {{ ied.rs485_address }}
                        {% if ied.ai_set.count %}
                            <ul>
                            {% for ai in ied.ai_set.all %}
                                <li class="mv_ai">{{ ai }}</li>
                            {%endfor%}
                            </ul>
                        {% endif %}
                        {% if ied.di_set.count %}
                            <ul>
                            {% for di in ied.di_set.all %}
                                <li class="mv_di">{{ di }}</li>
                            {%endfor%}
                            </ul>
                        {% endif %}    
                        {% if ied.di_set.count %}
                            <ul>
                            {% for sv in ied.sv_set.all %}
                                <li class="mv_sv">VarSys: {{ sv }}</li>
                            {%endfor%}
                            </ul>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>    
            </li>
        {% endfor %}
        </ul>
        
    </ul>
{% endblock %}

