{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block extraheader %}
<link rel="stylesheet" href="{% static "jqGrid/css/ui.jqgrid.css" %}">
<link rel="stylesheet" href="{% static "hmi/css/realtime_watch.css" %}">
{% endblock %}


{% block content %}
<div id="tabs">
    <ul>
        <li><a href="#tab-real-time"
            title="R">{% trans "Real time" %}</a></li>
        <li><a href="#tab-alarmas"
            title="A">{% trans "Events" %}</a></li>
        <li><a href="#tab-volver"
            title="V">{% trans "Back" %}</a></li>
    </ul>
    <div id="tab-real-time">
        <div class="map-controls" style="font-size: x-small;">
            <!-- Small button group -->
            <div class="btn-group">
              <button class="btn" id="jump_to_upper_screen" disabled='disabled'>
                &uarr; Pantalla Superior</button>
              <button class="btn dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <!-- dropdown menu links -->
                <li><a href="#" id="change_svg_background">
                    <i class="icon-arrow-up"></i>Activar/Desactivar color de fondo
                    </a></li>
                <li><a href="#">Activar/Desactivar refresco</a></li>
              </ul>
            </div>
        </div>
        <br/>
        <div id="svg" class="svg_container" style="height: 500px; width: 100%px;">
        </div>
        <div>

            <table id="mini-alarm" style="width: 100%;">
            </table>
            <!--div style="padding-top: 15px;">
                <a id="update_toggle" href="#">Update</a>
            </div-->
        </div>
    </div>
    <div id="tab-alarmas">
        <form action="" id="alarm_filter_form" class="form-inline" role="form">
            <input type="text" name="timestamp__gte" class="date" placeholder="{% trans "Date after"%}">
            <input type="text" name="timestamp__lte" class="date" placeholder="{% trans "Date before"%}">
            <input type="text" name="di__tag__istartswith" placeholder="{% trans "Tag"%}">
            <button class="btn" type="submit" name="submit">Filtrar</button>
            <button class="btn" type="submit" name="reset">Limpiar</button>

        </form>
        <table id="alarm-grid"></table>
        <div id="alarm_pager"></div>

    </div>
    <div id="tab-volver" class="volver"></div>

</div>
{% endblock content %}

{% block endscripts %}

    <!-- Includes SlickGrid -->

    <script type="text/javascript" src="{% static "js/jquery-migrate/jquery-migrate-1.1.1.js" %}"></script>
    <!-- jqGrid -->
    <script src="{% static "jqGrid/js/i18n/grid.locale-es.js" %}"></script>
    <script src="{% static "jqGrid/js/grid.base.js" %}"></script>
    <script src="{% static "jqGrid/js/grid.common.js" %}"></script>
    <script src="{% static "jqGrid/js/grid.formedit.js" %}"></script>
    <script src="{% static "jqGrid/js/grid.inlinedit.js" %}"></script>
    <script src="{% static "jqGrid/js/grid.celledit.js" %}"></script>
    <script src="{% static "jqGrid/js/grid.subgrid.js" %}"></script>
    <script src="{% static "jqGrid/js/grid.treegrid.js" %}"></script>
    <script src="{% static "jqGrid/js/grid.grouping.js" %}"></script>
    <script src="{% static "jqGrid/js/grid.custom.js" %}"></script>
    <script src="{% static "jqGrid/js/grid.tbltogrid.js" %}"></script>
    <script src="{% static "jqGrid/js/grid.import.js" %}"></script>
    <script src="{% static "jqGrid/js/jquery.fmatter.js" %}"></script>
    <script src="{% static "jqGrid/js/JsonXml.js" %}"></script>
    <script src="{% static "jqGrid/js/grid.jqueryui.js" %}"></script>
    <script src="{% static "jqGrid/js/grid.filter.js" %}"></script>
    <!-- jQuery SVG -->
    <script type="text/javascript" src="{% static "jquery.svg/jquery.svg.js" %}"></script>
    <script type="text/javascript" src="{% static "jquery.svg/jquery.svganim.js" %}"></script>
    <script type="text/javascript" src="{% static "jquery.svg/jquery.svgdom.js" %}"></script>
    <script type="text/javascript" src="{% static "jquery.svg/jquery.svgfilter.js" %}"></script>
    <script type="text/javascript" src="{% static "jquery.svg/jquery.svggraph.js" %}"></script>
    <script type="text/javascript" src="{% static "jquery.svg/jquery.svgplot.js" %}"></script>
    <script type="text/javascript" src="{% static "jquery.svg/jquery.svg.js" %}"></script>
    <script type="text/javascript">
        // Global namespace
        if (typeof(SMVE) == 'undefined') {
            SMVE = {};
        }
        jQuery.extend(SMVE, {
            update: true
        });

    </script>
    <script type="text/javascript"
    src="{% static "js/jquery-ui-1.10.0.custom/js/jquery.ui.datepicker-es.js" %}"></script>
    <script type="text/javascript" src="{% static "js/string-format.js" %}"></script>
    <script type="text/javascript" src="{% static "js/xdate.js" %}"></script>
    <script type="text/javascript" src="{% static "hmi/js/eztimer.js" %}"></script>
    <script type="text/javascript" src="{% static "hmi/js/jqobjectools.js" %}"></script>
    <script type="text/javascript" src="{% static "hmi/js/queryobj.js" %}"></script>
    <script type="text/javascript" src="{% static "hmi/js/tastyjqgrid.js" %}"></script>
    <script type="text/javascript" src="{% static "hmi/js/realtime_watch.js" %}"></script>

{% endblock endscripts %}
