<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>{% if title %}{{ title }}{% else %}S.M.V.E.{%endif%}</title>
    <script src="{{ STATIC_URL }}js/jquery.js" type="text/javascript" charset="utf-8"></script>
    
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.svg.package-1.4.5/jquery-1.7.2.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.svg.package-1.4.5/jquery.svg.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.svg.package-1.4.5/jquery.svganim.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.svg.package-1.4.5/jquery.svgdom.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.svg.package-1.4.5/jquery.svgfilter.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.svg.package-1.4.5/jquery.svggraph.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.svg.package-1.4.5/jquery.svgplot.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.svg.package-1.4.5/jquery.svg.js"></script>
    

    <script src="{{ STATIC_URL }}js/jquery.ui/js/jquery-ui-1.8.21.custom.min.js" type="text/javascript" charset="utf-8">
    </script>
    <!-- Datatables (http://datatables.net/index) -->
    <script type="text/javascript" src="{{ STATIC_URL }}js/DataTables-1.9.2/media/js/jquery.dataTables.min.js">
    </script>
    <!-- Highchart -->
    <script type="text/javascript" src="{{ STATIC_URL }}js/Highcharts-2.2.5/js/highcharts.js"></script>



    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="{{ STATIC_URL }}js/jquery.ui/css/ui-darkness/jquery-ui-1.8.21.custom.css" 
        type="text/css" media="screen" charset="utf-8">

    <!-- Configuración -->
    <script type="text/javascript">
        window.SMVE = {
            config: {
                STATIC_URL: '{{ STATIC_URL }}'
            }   
        };
    </script>
    <!-- Alplcación -->
    <script type="text/javascript" src="{{ STATIC_URL }}js/app/main.js"></script>
</head>
<body id="index" onload="">
    
    <div id="tabs">
        <ul>
            <li><a href="#tab-diagrama">Unifilar</a></li>
            <li><a href="#tab-eventos">Eventos</a></li>
            <li><a href="#tab-curvas">Curvas</a></li>
            <li><a href="#tab-develop">Desarrollo</a></li>
        </ul>
        <div id="tab-diagrama">
            <div id="svg" style="width: 900px; height: 600px;">

            </div>
        </div>
        <div id="tab-eventos">
            <table cellpadding="0" cellspacing="0" border="0" class="display" id="tabla-eventos" width="100%">
                <thead>
                    <th>Uno</th>
                    <th>Dos</th>
                    <th>Tres</th>
                    <th>Cuatro</th>
                </thead>
                <tbody>
                </tbody>
            </table>
            
        </div>
        <div id="tab-curvas">
            <div id="plot">
            </div>
            <div style="padding: 4px" id="refresh-chart">
                <a class="button">Refresh!</a>
            </div>
        </div>
        <div id="tab-develop">
        </div>
    </div>
    
    
</body>
</html>