<html>
	<head>
	  <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
	  <title>Mi pagina</title>
	  <script src="{{ STATIC_URL }}js/jquery.js" type="text/javascript" charset="utf-8"></script>
	  <script src="{{ STATIC_URL }}js/jquery.ui/js/jquery-ui-1.8.21.custom.min.js" type="text/javascript" charset="utf-8">
    </script>
    <!-- Datatables (http://datatables.net/index) -->
    <script type="text/javascript" src="{{ STATIC_URL }}js/DataTables-1.9.2/media/js/jquery.dataTables.min.js">
    </script>
    <!-- Highchart -->
    <script type="text/javascript" src="{{ STATIC_URL }}js/Highcharts-2.2.5/js/highcharts.js"></script>
    {#
    <script src="{{ STATIC_URL}}js/jquery-websocket/jquery.websocket-0.0.1.js" type="text/javascript" charset="utf-8"></script>
    #}

    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="{{ STATIC_URL }}js/jquery.ui/css/ui-darkness/jquery-ui-1.8.21.custom.css" 
        type="text/css" media="screen" charset="utf-8">

	  	
	</head>
	<body id="pruebas" onload="">
	  



	<div class="demo">
	
		<div id="tabs">
			<ul>
				<li><a href="#tabs-1">Uno</a></li>
				<li><a href="#tabs-2">Dos</a></li>
				<li><a href="#tabs-3">Tres</a></li>
			</ul>
			<div id="tabs-1">
				Uno
			</div>
			<div id="tabs-2">
				<a id="buscar" href="#">Buscar Profiles</a>
				<div id="profiles">
					
				</div>
			</div>
			<div id="tabs-3">
				
				<input type="text" id="uno">
				<div id="log">
					
					
				</div>
			</div>
		</div>
	
	</div><!-- End demo -->
	
	<script>
	$(function() {
		$( "#tabs" ).tabs();
		$("#buscar").button().click(function(){
			$.ajax('/ajax', {
				success: function (data, text){
					var profiles = $.parseJSON(data);
					$.each(profiles, function (index, val){
						$('#profiles').append('<p>'+val+'</p>');
					})
					
				}
			})
			return false;
		});
		
		$('#uno').datepicker({
			 onSelect: function(fecha){
				console.log(arguments);
				$('#log').append('<p>Usted selecciono '+fecha+'</p>');
			 	//alert("Eleigio una fecha");
			 }
			
		});
	});
	</script>
	</body>
	
	
</html>