extends layout

block append head
  // JQuery
  script(src='/javascripts/jquery.js')
  // jQuery SVG
  script(src='/javascripts/jquery.svg.package-1.4.5/jquery-1.7.2.js')
  script(src='/javascripts/jquery.svg.package-1.4.5/jquery.svg.js')
  script(src='/javascripts/jquery.svg.package-1.4.5/jquery.svganim.js')
  script(src='/javascripts/jquery.svg.package-1.4.5/jquery.svgdom.js')
  script(src='/javascripts/jquery.svg.package-1.4.5/jquery.svgfilter.js')
  script(src='/javascripts/jquery.svg.package-1.4.5/jquery.svggraph.js')
  script(src='/javascripts/jquery.svg.package-1.4.5/jquery.svgplot.js')
  script(src='/javascripts/jquery.svg.package-1.4.5/jquery.svg.js')
  script(src='/javascripts/jquery.ui/js/jquery-ui-1.8.21.custom.min.js')
  // Datatables
  script(src='/javascripts/DataTables-1.9.2/media/js/jquery.dataTables.min.js')
  
  script(src='/javascripts/Highcharts-2.2.5/js/highcharts.js')
  // script(src='/javascripts/
  script(src='/javascripts/app/main.js')
  link(rel='stylesheet', href='/javascripts/jquery.ui/css/ui-darkness/jquery-ui-1.8.21.custom.css')
  
  script (type='text/javascript')
      SMVE = {
          config: {
              STATIC_URL: ''
          }
      }
    
  
  
block content
  div#tabs
    ul
      li
        a(href='#tab-diagrama') Unifilar
      li
        a(href='#tab-eventos') Eventos
        
      li
        a(href='#tab-curvas') Curvas
        
    div#tab-diagrama
      div#svg(style="width: 900px; height: 600px; background: #fff;")
       
    div#tab-eventos
      table
        thead
          tr
            th E.T.
            th Estado
            th Descripción
            th Fecha
            
    div#tab-curvas
      div#seleccion-fecha
        p Fecha a graficar
          input(name='fecha', type='text')
        div#tabla-curvas-pq
          ul
            li
              a#valoresTabla
              a#valoresGrafico
          div#valoresTabla
          
          div#valoresGrafico
            div#plot-curvas