{% extends "admin/base.html" %}
{% load i18n %}
{% block extrahead %}
    <style>
        #header {
            background-color: rgb(51, 51, 51);
        }

        body.login, body.dashboard, body.change-list, body.change-form {
            background: url({{STATIC_URL}}/img/bg.png);
            background-repeat: no-repeat;
            background-position: center 50px;
            background-color: #638A17;
        }
        /* No breadcrumbs */
        body.dashboard {
            background-position: center 37px;
        }
        body.login {
            background-position: center 0px;
        }



        #content-main caption {

            font-variant:small-caps;
            /* IE10 Consumer Preview */
            background-image: -ms-linear-gradient(top, #FFFFFF 0%, #CCCCCC 100%);

            /* Mozilla Firefox */
            background-image: -moz-linear-gradient(top, #FFFFFF 0%, #CCCCCC 100%);

            /* Opera */
            background-image: -o-linear-gradient(top, #FFFFFF 0%, #CCCCCC 100%);

            /* Webkit (Safari/Chrome 10) */
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #CCCCCC));

            /* Webkit (Chrome 11+) */
            background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #CCCCCC 100%);

            /* W3C Markup, IE10 Release Preview */
            background-image: linear-gradient(to bottom, #FFFFFF 0%, #CCCCCC 100%);

        }

        #content-main caption a{
            color: rgb(51, 51, 51);
        }

        .results .row1 {
            background: rgb(241, 241, 241);
        }
    </style>
{% endblock extrahead %}

{% block title %}{{ title }} | {% trans 'Django site admin' %}{% endblock %}

{% block branding %}
<h1 id="site-name">S.M.V.E.</h1>
{% endblock %}

{% block userlinks %}
    <b><a href="{% url "index" %}">Volver al sistema</a></b>
    {{ block.super }}
{% endblock userlinks %}

{% block nav-global %}{% endblock %}