{% extends "admin/base.html" %}
{% load i18n %}
{% block extrahead %}
    <style>
        #header {
            background-color: rgb(51, 51, 51);
        }

        body.login, body.dashboard, body.change-list, body.change-form {
            background: url({{STATIC_URL}}/img/bg.png);
            background-repeat: no-repeat;
            background-position: center 50px;
            background-color: #638A17;
        }
        /* No breadcrumbs */
        body.dashboard {
            background-position: center 37px;
        }
        body.login {
            background-position: center 0px;
        }

        #content-main caption a{
            color: rgb(51, 51, 51);
        }

        .results .row1 {
            background: rgb(241, 241, 241);
        }
    </style>
{% endblock extrahead %}

{% block title %}{{ title }} | {% trans 'Django site admin' %}{% endblock %}

{% block branding %}
<h1 id="site-name">S.M.V.E.</h1>
{% endblock %}

{% block nav-global %}{% endblock %}