/*#alarm_filter_form {
    height: 40px;
}

#alarm_filter_form ul li {
    list-style-image: none;
    float: left;
}

*/

.svg-container svg {
    width: 100%;
}

.svg-container {
    min-height: 500px;
    background-color: #000;
}

.svg-container.loading {
    background-image: url('../img/ajax-loader.gif');
    background-repeat: no-repeat;
    background-position: center center;
}