body{
    font-family: "Verdana";
    font-size: 13px;
    background-color: #555;
    margin: 0px;
    
}


#svg {
    border: 1px solid #ccc; 
    background: white;
    height: 600px;
    width: 900px;
}

#tabs >div {
	min-height: 500px;
}


#seleccion-fecha input {
    border: 1px solid #ccc;

}